body {
  background-color: beige;
}
header {
  background-color: blueviolet;
}
.map {
  width: 1000px !important;
  height: 70vh !important;
  margin-right: auto;
  margin-left: auto;
}

.map > svg {
  width: 1000px !important;
  height: 100% !important;
}

.display-data {
}



.land:hover{
    fill: red;
}
