body {
  background-color: beige;
}
header {
  background-color: blueviolet;
}
footer{
    height: 200px;
    width: 100%;
}
.map {
  width: 1000px !important;
  height: 70vh !important;
  margin-right: auto;
  margin-left: auto;
}

.map > svg {
  width: 1000px !important;
  height: 100% !important;
}

.display-data {
}
.land
{
    fill: green;
    fill-opacity: 1;
    stroke:white;
    stroke-opacity: 1;
    stroke-width:0.5;
}
.land:hover{
    fill: red;
}

#SV-SM{
    fill: yellow;
        fill-opacity: 0.5;
}

.options{
    text-align: center;
}

#myTab{
    justify-content: center !important;
}
